@import url("bootstrap.css");
@import url("bootstrap.min.css");
*{
padding: opx;
margin: 0px;  
border: 5px hidden gainsboro;
background-color: white;
text-align: center;
}

header{
  color: rebeccapurple;
}