@import url("bootstrap.css");
@import url("bootstrap.min.css");

*{
  text-align: center;
}

body{
  text-align: center;
    background-image:url("https://bit.ly/2Jm8E9o");
    background-repeat: no-repeat;
    background-size: cover;
    color:black; 
  
  }

  p{
      font-size: 30px;
      color:black;
  }

  h4{
      font-weight: bolder;
      font-size: 40px;
  }


  label{
      font-size: 20px;
  }

