@import url("css/bootstrapcss/bootstrap.css");
@import url("css/bootstrapcss/bootstrap.min.css");

* {
  text-align: center;
}

.jumbotron{
background-color: gray;
color: white;
}

body {
  text-align: center;
  background-image: url("https://bit.ly/31Pqyb1");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

p {
  font-size: 30px;
  color: black;
}

h4 {
  font-weight: bolder;
  font-size: 40px;
}

footer {
  margin-top: 10px;
  text-align: center;
  background-color: gray;
  font-style: italic;
}

h6 {
  width: 100%;
  background-color: gray;
  
}